<ng-container *ngIf="playerNo$ | async as playerNo">
  <app-player [game]="this.game"
              [playerNo]=playerNo></app-player>

  <app-board [board]="this.game.game.board"
             (selectedField$)="selectFieldNo($event)"></app-board>

  <app-nominals [game]="this.game"
                [playerNo]="playerNo"
                (selectedNominal$)="selectNominal($event)"></app-nominals>

  <br>

  <button mat-flat-button (click)="send()" [disabled]="canSend()">send</button>

  <app-history></app-history>

  <app-who-won [whoWon]="game.whoWon"></app-who-won>
</ng-container>
