<ng-container *ngIf="playerNo$ | async as playerNo">
  <ng-container *ngIf="game$ | async as game">
    <ng-container *ngIf="game.game">
      <p>opponent status
        <img alt="opponent" [src]="this.image$ | async">
      </p>
    <app-player [game]="game"
                [playerNo]=playerNo></app-player>

    <app-board  [board]="game.game.board"
               (selectedField$)="selectFieldNo($event)"></app-board>

    <app-nominals [game]="game"
                  [playerNo]="playerNo"
                  (selectedNominal$)="selectNominal($event)"></app-nominals>
    <br>

    <button mat-flat-button *ngIf="canSend() | async" (click)="send()">send</button>

    <app-history></app-history>

    <app-who-won [whoWon]="game.whoWon"></app-who-won>
    </ng-container>
  </ng-container>
</ng-container>
