<button (click)="getFromServer()">
  get game
</button>

<input [(ngModel)]="hello">
<button (click)="connect()">
  connect
</button>

<button (click)="send()">
  send
</button>

<button (click)="print()">
  print all
</button>

<div>
  {{ canContinue }}
  {{this.game?.gameId}}
</div>

<ng-container *ngFor="let field of game?.board; let i = index" >
<!--  <var [style.background-color]=getBackgroundColor(field.playerNo)>-->
  <var >
    {{ field.fieldNo }}-{{field.currentNominal}}-{{field.playerNo}} |
  </var>

  <div *ngIf="(i+1) % 3 == 0"> --- --- --- --- --- --- --- </div>
</ng-container>
