<button (click)="getFromServer()">
  get game
</button>

<input [(ngModel)]="hello">
<button (click)="connectAndSubscribe()">
  connect
</button>

<button (click)="send()">
  send
</button>

<button (click)="print()">
  print all
</button>

<div>
  {{this.game?.gameId}}
</div>

<div>
  ===
</div>

<ng-container *ngFor="let field of game?.board; let i = index" >
  <var (click)="setInput(field.fieldNo)" [style.background-color]=getBackgroundColor(field.playerNo)>
    {{field.currentNominal}} |
  </var>

  <div *ngIf="(i+1) % 3 == 0"> --- --- ---</div>
</ng-container>

<div *ngIf="game">
  <ng-container *ngIf="playerNo == 1">
    <var *ngFor="let nominal of game.player1.nominalsLeft" (click)="selectNominal(nominal)">
      {{ nominal }}
    </var>
  </ng-container>

  <ng-container *ngIf="playerNo == 2">
    <var *ngFor="let nominal of game.player2.nominalsLeft" (click)="selectNominal(nominal)">
      {{ nominal }}
    </var>
  </ng-container>
</div>

======

<ng-container *ngIf="game">
  <div>
    current player: {{game.currentPlayer.no}}
  </div>
  <div>
    selected nominal: {{selectedNominal}}
  </div>
  <div>
    selected field: {{selectedFieldNo}}
  </div>

  <div [style.background-color]=getBackgroundColor(playerNo)>
    this is your color
  </div>
</ng-container>

