<div *ngIf="!isConnected && !canContinue">
  Available games:
  <div *ngFor="let gameId of availableGames">
     {{gameId}} <button (click)="joinGame(gameId)">join game</button>
  </div>
</div>


<button *ngIf="!isConnected && !canContinue" (click)="createGame()">
  create game
</button>

<input *ngIf="!isConnected && !canContinue" [(ngModel)]="gameId">
<button *ngIf="!isConnected && !canContinue" (click)="connectAndSubscribe()">
  connect
</button>

<button (click)="send()">
  send
</button>

<div *ngIf="!isConnected && !canContinue">
  {{this.game?.game?.gameId}}
</div>

<div>
  ===
</div>

<ng-container *ngFor="let field of game?.game?.board; let i = index" >
  <var (click)="selectFieldNo(field.fieldNo)" [style.background-color]=getBackgroundColor(field.playerNo)>
    {{field.currentNominal}} |
  </var>

  <div *ngIf="(i+1) % 3 == 0"> --- --- ---</div>
</ng-container>

<div *ngIf="game">
  <ng-container *ngIf="playerNo == 1">
    <var *ngFor="let nominal of game?.game?.player1?.nominalsLeft" (click)="selectNominal(nominal)">
      {{ nominal }}
    </var>
  </ng-container>

  <ng-container *ngIf="playerNo == 2">
    <var *ngFor="let nominal of game?.game?.player2?.nominalsLeft" (click)="selectNominal(nominal)">
      {{ nominal }}
    </var>
  </ng-container>
</div>

======

<ng-container *ngIf="game">
  <div>
    current player: {{game?.game?.currentPlayer?.no}}
  </div>
  <div>
    selected nominal: {{selectedNominal}}
  </div>
  <div>
    selected field: {{selectedFieldNo}}
  </div>

  <div [style.background-color]=getBackgroundColor(playerNo)>
    this is your color
  </div>
</ng-container>

<div *ngIf="game">
  Previous moves:
  <div *ngFor="let game of gameHistory; let i = index">
    <button (click)="showMoveOfIndex(i)"> {{ i+1 }} </button>
  </div>
</div>


<div *ngIf="winner !== -1">
  <hr/>
  <br/>
  Winner:
    <var *ngIf="winner === 1"> Player 1 </var>
    <var *ngIf="winner === 2"> Player 2 </var>
</div>
