<ng-container *ngIf="game.game && playerNo == 1; then playerOne else playerTwo">
</ng-container>

<ng-template #playerOne>
  <var *ngFor="let nominal of game.game.player1.nominalsLeft" (click)="selectNominal(nominal)">
    <app-single-nominal [classNg]="nominalClass(nominal)">{{ nominal }}</app-single-nominal>
  </var>
</ng-template>

<ng-template #playerTwo>
  <var *ngFor="let nominal of game.game.player2.nominalsLeft" (click)="selectNominal(nominal)">
    <app-single-nominal [classNg]="nominalClass(nominal)">{{ nominal }}</app-single-nominal>
  </var>
</ng-template>
